body {
  width: 1400px;
  margin: 10px auto;
  background-color: #0d0c0c;
}

h1 {
  text-align: center;
  color: #0099cc;
  border-bottom: 1px solid blue;
  padding-bottom: 5px;
  font-size: 80px;
  margin-bottom: 10px;
  font-family: fantasy;
  margin-top: 5px;
}

h2 {
  color: #0099cc;
  text-align: center;
}

#nav {
  width: 400px;
  float: left;
  margin-top: 10px;
}

#nav li {
  color: #0099cc;
  padding-bottom: 15px;
  list-style-type: square;
  font-size: 25px;
  font-family: fantasy;
}

#content {
  display: inline-block;
  border-left: 1px solid blue;
  float: right;
  width: 999px;
}

img {
  width: 480px;
}

#img {
  float: left;
  margin: 5px 5px 5px 5px;
  padding-left: 5px;
}

#content p {
  color: #0099cc;
  font-size: 13px;
  font-family: fantasy;
}

#pg {
  position: relative;
  bottom: 16px;
  margin-left: 10px;
}
